<div class="services__web-page">
  <div class="row__one_web">
    <div class='item__service'>
      <div class='container__services_img_web-page'>
        <div>
          <img src={{data.imagen}} width={50} alt="" />
        </div>
      </div>
      <h3  [innerHTML]="data.titulo"></h3>
      <p>{{data.imagen4}}</p>
    </div>
    <div class='item__service'>
      <div class='container__services_img_web-page'>
        <div>
          <img src={{data.imagen2}} width={50} alt="" />
        </div>
      </div>
      <h3 [innerHTML]="data.titulo2"></h3>
      <p>{{data.titulo4}}</p>
    </div>
    <div class='item__service'>
      <div class='container__services_img_web-page'>
        <div>
          <img src={{data.imagen3}} width={50} alt="" />
        </div>
      </div>
      <h3 [innerHTML]="data.titulo3"></h3>
      <p>{{data.titulo5}}</p>
    </div> 
  </div>
</div>

