<div class='slider__web-page'>
    <div class='slider__web-page_container'>
        <div>
            <p class='slider__title'>Lorem ipsum dolor</p>
            <p class='slider__text'>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
        </div>
        <div class="sliders">
            <div class="slide-track">
                <div class="slide__web-page" *ngFor="let item of defaultData">
                    <img src="item.imagen" alt="" />
                </div>
            </div>
        </div>
    </div>
</div>